*{
    margin: 0
}

/* 
De cada grupo de elemntos, el que ocupe la 3era posicion, sera afectado

elemento - child(3)

*/
tr :nth-child(3){
    background-color: #eee;
}

/*odd IMPART*/

tbody tr:nth-child(odd) {
    background-color: #ccc;
  }

tbody tr:nth-child(even){
    background-color: #aaa;
}
/* La tercera columna de los grupos de "td" y "th" */
td:nth-child(3), th:nth-child(3){
    background-color: pink;
}
tbody tr:last-child td:last-child {
    
    border-bottom-right-radius: 10px;
}
tbody tr:last-child td:first-child {
    
    border-bottom-left-radius: 10px;
}

/* Como quitar el margen entre celdas a una tabla */
table{
    border-collapse:collapse
}
thead tr:first-child {
    background-color: coral;
}
thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
thead tr:first-child th:last-child{
    /* Todo:  */
    border-top-right-radius: 10px;
}
.nav-link {
    text-decoration: none;
  font-family: sans-serif;
  margin-right: 10px;
  color: #444;
}
/* Todos los elementos que tengan la clase "nav-link" pero que ademas tengan la clase "active" */
/* no se coloca espacio vlink .active */
.nav-link.active{
    font-style: italic;
}
h2~p{
color:orange;
}
/* El primer hermano "p"  */
h3+p{
    color:aquamarine;
}
article:not(.agotado){
    width:300px;
    box-shadow: 0px 0px 8px #888;
}
/* article : */
