/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

@font-face {
    font-family: 'miPrimeraFuenta';
    src: url('../fuentesGlobales/Montserrat-Regular.ttf')
}

@font-face {
    font-family: 'miFuenteMedium';
    src: url('../fuentesGlobales/Montserrat-Medium.ttf')
}

@font-face {
    font-family: 'miFuenteBold';
    src: url('../fuentesGlobales/Montserrat-Bold.ttf')
}
@font-face {
    font-family: 'Teko-Light';
    src: url('../fuentesGlobales/Teko/Teko-Light.ttf')
}

@font-face {
    font-family: 'Teko-Medium';
    src: url('../fuentesGlobales/Teko/Teko-Medium.ttf')
}

@font-face {
    font-family: 'Teko-SemiBold';
    src: url('../fuentesGlobales/Teko/Teko-SemiBold.ttf')
}

h1, h2 {
    font-family: "miPrimeraFuenta";
    color: #ce055c;
}

.descripcion {
    font-family: "miFuenteMedium";
    font-size: 12px;
    width: 200px;   
    height: 80px;
    overflow: scroll;
}

.segundo__titulo {
    font-family: "miFuenteBold"
}

.fuente__link {
   font-family: 'Courgette', cursive;
}

a {
    background-color: #c00;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    font-family: "miPrimeraFuenta"
}

a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #c00;
}
.portada__codigo{
    background-image: url('../imagenesGlobal/codigo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.alto__total{
    height: 100vh;
}
.tercer__titulo{
    font: 42px "Teko-Medium";
}
.tercer__parrafo{
    font:16px "Teko-Medium";
    border:1px solid #c00;
    background: linear-gradient(0deg, #1A98EF, #EF1AED, #FFFD2B 30% );
}
.btn_iniciar_sesion{
    margin-top: 30px;
    font-family: "Teko-Medium";
    Background: linear-gradient(90deg, #1A98)
}